@import "./headerAndSidebar";

$layout-color1: #5541d7;
$layout-color2: #e2e2e2;
$layout-color3: #f7f7f7;
$layout-color4: #ffffff;

body {
  background-color: $layout-color3;
  // font-family: 'Mulish';
}

$text-color1: #11142d;
$text-color2: #42bda1;
$text-color3: #92929d;

@mixin flexprops {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer-container {
  max-width: 90%;
  min-height: 700px;
    //  border: 1px solid red;
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 20px;
  right: 20px;
  h2 {
    font-size: 22px;
    color: $text-color1;
  }
}

.customer-table {
  width: 100%;
  padding: 15px;
  // border: 1px solid red;
  background-color: $layout-color4;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px $layout-color2;
  margin-top: 25px;
  padding-top: 20px;
}

.table-header {
  width: 100%;
  @include flexprops();
//   border: 1px solid red;
    .search-bar2 {
    width: 90%;
  
    padding: 5px;
    background-color: $layout-color3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 13px;
    input {
      width: 100%;
      padding: 5px;
      outline: none;
      border: none;
      background-color: $layout-color3;
      color: $text-color3;
      font-size: 14px;
    }
    input::placeholder {
      color: $text-color3;
    }
  }
  .filters{
    // border: 1px solid red;
    width: 8%;
    margin-left: 10px;
    @include flexprops();
    justify-content: space-around;
  }
}

.customer-data{
    width: 100%;
    padding: 10px;

    margin-top: 20px;
    table{
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      border-collapse: collapse;
      border-spacing: 0;
      overflow: hidden;
      color: $text-color1;
      font-size: 15px !important;
      font-weight: 100;
   
      tr{
        text-align: left;
       
      }
      td,th{
        padding: 15px;
      }
      th{
        background-color: $layout-color3;
        border-radius: 6px;

      }
      .order-history{
        width: 320px;
      }
      .see-detail-btn{
        width: 100px;
        outline: none;
        border: none;
        color: $layout-color1;
    
        font-size: 18px;
        background-color: $layout-color4;
        font-weight: 500;
        margin-top: 15px;
      }
    }
}