* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: 'Mulish';
}

.header {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 1px 1px #e2e2e2;
          box-shadow: 0px 1px 1px #e2e2e2;
  padding: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11123213;
}

.logo {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

.logo .logo-square {
  width: 30px;
  height: 30px;
  background-color: #e2e2e2;
  border-radius: 5px;
}

.logo .logo-text {
  font-size: 16px;
  padding-left: 10px;
}

.user-info {
  width: 200px;
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-details {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-details .user-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e2e2e2;
}

.user-details .user-name h3 {
  font-size: 19px;
  color: #11142d;
}

.user-details .user-name p {
  font-size: 15px;
  color: #92929d;
}

.side-bar {
  width: 80px;
  background-color: #ffffff;
  min-height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 10px;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 1px 1px 1px #e2e2e2;
          box-shadow: 1px 1px 1px #e2e2e2;
}

.side-bar .side-bar-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  gap: 0.5rem;
}

.side-bar .side-bar-btn button {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.side-bar .side-bar-btn button:hover {
  background-color: #5541d7;
}

.side-bar .active {
  width: 40px;
  height: 40px;
  background-color: #5541d7 !important;
  border-radius: 5px;
}

.side-bar .setting-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
}

.side-bar .setting-btn button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ffffff;
}

body {
  background-color: #f7f7f7;
}

.customer-container {
  max-width: 90%;
  min-height: 700px;
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 20px;
  right: 20px;
}

.customer-container h2 {
  font-size: 22px;
  color: #11142d;
}

.customer-table {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #e2e2e2;
          box-shadow: 0px 0px 5px #e2e2e2;
  margin-top: 25px;
  padding-top: 20px;
}

.table-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-header .search-bar2 {
  width: 90%;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 13px;
}

.table-header .search-bar2 input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  color: #92929d;
  font-size: 14px;
}

.table-header .search-bar2 input::-webkit-input-placeholder {
  color: #92929d;
}

.table-header .search-bar2 input:-ms-input-placeholder {
  color: #92929d;
}

.table-header .search-bar2 input::-ms-input-placeholder {
  color: #92929d;
}

.table-header .search-bar2 input::placeholder {
  color: #92929d;
}

.table-header .filters {
  width: 8%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.customer-data {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.customer-data table {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  color: #11142d;
  font-size: 15px !important;
  font-weight: 100;
}

.customer-data table tr {
  text-align: left;
}

.customer-data table td, .customer-data table th {
  padding: 15px;
}

.customer-data table th {
  background-color: #f7f7f7;
  border-radius: 6px;
}

.customer-data table .order-history {
  width: 320px;
}

.customer-data table .see-detail-btn {
  width: 100px;
  outline: none;
  border: none;
  color: #5541d7;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: 500;
  margin-top: 15px;
}
/*# sourceMappingURL=customer.css.map */